* {
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
    margin: 0 auto;
}

body {
    background-color: rgb(193, 149, 235);
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin:0 auto;
   
}
h2 {
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    color: #2a0074;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    
} 
nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

nav img {
    width: 7.4rem;

}
main {
    width: 80%;
    margin: 0 auto;
    
}

p {
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.5;
    margin-top: 3.2rem;
    display: flex;
    color:rgb(43, 58, 70);
  
   
}
.italeweig {
    font-style: italic;
    font-weight: 600;
}
footer {
    font-size: 1.4rem;
    color:rgb(45, 5, 82);
    padding: 2.4rem;
    text-align: center;
}

@media (max-width: 400px) {
    body {
        max-width: 100%;
    }

    h1 {
        font-size: 3.0rem;
        color:#2a0074
    }

   
    nav li {
        display: block;
        flex-direction: column;
        line-height: 1;
        margin: 0 auto;
        text-align: center;
    } 
        section {
            width: 100%;
            margin:0 auto;
        }
    
        p {
            font-size: 1.6rem;
          
            
            
        }
    }