* {
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
    margin: 0 auto;
}

body {
    background-color: rgb(193, 149, 235);
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    margin:0 auto;
   
}
h3 {
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    color: #2a0074;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    
}


nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

nav img {
    width: 9.4rem;

}
section {
    width: 80%;
    margin: 0 auto;
    

}
section img {
    width: 7.4rem;
    display: flex;
    margin: 0 auto;
}
figcaption {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
main {
    width: 80%;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

}
.contato {
    font-size: 1.4rem;
    text-align: center;
}
p {
    font-size: 2.0rem;
    margin: 3.6rem auto 2.4rem auto;
    color: rgb(52, 15, 87)
}

@media (min-width: 400px) {
    body {
        width: 90%;
    }
    main {
        width: 100%;
    }
}
