* {
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
    margin: 0 auto;
}

body {
    background-color: rgb(193, 149, 235);
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    margin:0 auto;
   
}
h2 {
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    color: #2a0074;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    
}

nav {
    display: flex;
    justify-content: center;
}
nav img {
    width: 6.4rem;
}
figcaption {
    justify-content: center;
    letter-spacing: .3rem;
}

main {
    font-size: 1.6rem;
  
}
main a {
    color:#2a0074;
    text-decoration: none;
}
main section {
    display: flex;
    flex-direction: column;
    
}
main img {
    width: 2.0rem;
}
span {
    font-size: 1.6rem;
}