* {
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
    margin: 0 auto;
}

body {
    background-color: rgb(193, 149, 235);
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    margin:0 auto;
   
}
h2 {
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    color: #2a0074;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    
}

nav a{
    color: white;
    text-decoration: none;
}
nav ul{
    
    width: 70%;
    line-height: 1.5;
    margin:0 auto;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16.0rem;
    font-size: 1.6rem;
    margin: 0 auto;
    border: 1px solid rgb(207, 118, 235); 
    border-radius: .8rem;
    background-color: rgb(144, 47, 173);
    padding: .6rem;  
}
main {
    max-width: 85%;

    margin: 0 auto;
    padding-top: 2.4rem;
}
img {
  
    width: 9.0rem;
    min-height: 12.0rem;
    padding: 2.4rem;
}


footer {
    font-size: 1.4rem;
    padding: 2.4rem;
    color: rgb(70, 35, 104);
}
   
