* {
    margin: 0;
    padding: 0;
}
:root {
    font-size: 62.5%;
    margin: 0 auto;
}

body {
    background-color: rgb(193, 149, 235);
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    margin:0 auto;
   
}
h2 {
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    color: #2a0074;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    
}

nav a{
    color: white;
    text-decoration: none;
}
nav ul{
    
    width: 70%;
    line-height: 1.5;
    margin:0 auto;
}

nav li {
    display: inline;
    font-size: 1.6rem;
    margin: 2.4rem 2.4em;
    border: 1px solid rgb(207, 118, 235); 
    border-radius: .8rem;
    background-color: rgb(144, 47, 173);
    padding: .8rem;  
}

h3 {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 4.4rem;
    color: white;
}
.nota {
    font-size: 1.4rem;
}
h4 {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 4.4rem;
    color: white;
}
main {
    width: 90%;
    margin:0 auto;
}
P {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    padding:1.0rem;
    margin-top: .6rem;
}

.ana {
    font-size: 1.4rem;
    color:rgb(115, 23, 201);
    text-align: center;

}
footer {
 
    width: 20.0rem;
    font-size: 1.4rem;
    text-align: center;
    color: blueviolet;
    margin:0 auto;
    padding-top: 4.4rem;
}

@media (max-width: 400px) {
    body {
        max-width: 100%;
    }

    h1 {
        font-size: 3.0rem;
        color:#2a0074
    }

   
    nav li {
        display: block;
        flex-direction: column;
        line-height: 1;
        margin: 0 auto;
        text-align: center;
    } 
}

