* {
    margin: 0;
    padding: 0;
}
:root {
    max-width: 100%;
    font-size: 62.5%;
}
body {
    background-color: rgb(193, 149, 235);
    font-family: 'Open Sans', sans-serif;
   
    margin: 0 auto;
    width: 75%;
}
section {
    display: flex;
    justify-content: center;
        
}
section img {
    width: 20.0rem;
    border-radius: 50%;
    margin: 2.4rem;
}

h1 {
    font-size: 3.6rem;
    font-weight: 800;
    text-align: center;
    color: #2a0074;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

nav {
 
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

nav img {
    width: 6.4rem;
    padding: 0.8rem;
}
main {
    margin-top: 2.4rem;
}
p {
    font-size: 1.6rem;
    padding: 1.0rem;
    line-height: 1.5;
    text-align: center;
    color:aliceblue;
}
footer {
    font-size: 1.4rem;
    padding: 2.4rem;
    text-align: center;
    color:rgb(115, 23, 201)
}

@media (max-width: 400px) {
    body {
        max-width: 100%;
    }
    nav img {
        width: 3.0rem;
    }
    p {
        width: 100%;
    }

}
    
